
html::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

html::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(123, 217, 99)),
    color-stop(0.72, rgb(69, 189, 114)),
    color-stop(0.86, rgb(29, 157, 116)));
}

.oper{
    height: 100%;
    cursor: pointer;
    vertical-align: top;
    background-color: #39bf94;
    color: white;
    border-radius: 4px;
    border: none;
    width: 100%;
    max-width: 2.3rem;
    display: inline-block;
    font-size: 16px;
    font-family: "-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif", serif;
}

.oper:hover {
    background-color: #157254;
}

.imag{
    width: 100%;
    height: 20rem !important;
    margin-top: 4rem;
}

.cursor{
    cursor: pointer;
}

.gre {

    display: none;
    background: #FFFFFF;
    border: 2px solid #025aa5;
    font-size: 1rem;
    position: absolute;
    text-align: center;
    right: 0;
    top: -10%;
    padding: 0 0.5rem;
    z-index: 11;

}

.fer {
    position: relative;
}

.fer:hover span {
    transition-property: display;
    transition-duration: 2s;
    display: block;
}

.listP {
    left: 11rem;
    top: 1rem;
    height: 95%;
    width: 78%;
    position: fixed;
    background-color: white;
    border: 1px solid;
    border-radius: 4px;
    padding: 1rem;
    z-index: 12;
    overflow: auto;
}


.backP{
    background-color: rgba(238, 238, 238, 0.46);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
}

.sizeSelect {
    width: 100%;
    max-width: 17rem;
    padding: 0;
}

body {
    background: url('../img/main2.jpg');
}

tr{
    text-align: center;
}

.back {
    background: rgba(41, 43, 44, 0.9);
    padding: 0.3rem 1rem;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.card2 {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid;
}

.card3 {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid;
}

.card4 {
    width: 100%;
    float: left;
    padding: 0 0 2rem;
}

.card5 {
    background-color: rgb(226, 226, 226);
    border: 1px solid;
}

.card6{
    background-color: #eeeeee;
    border: 1px solid;
}

.card7{
    border-radius: 5px 5px;
    border: 1px solid;
}

.jrPage{

    width: 100% !important;
    border-collapse: separate !important;
    font-size: 1rem ;
    font-family: "-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif", serif ;
}

fieldset {
    background-color: rgba(255, 255, 255, 0.0) !important;
}

.noback {
    background-color: rgba(255, 255, 255, 0.0);
}

.textindex {
    padding: 5px 8px;
    border: 1px solid #1d9d74;
    margin: 5px;
    border-radius: 5px 5px;
    width: 100%;
    max-width: 28rem;

}

.addIndex {
    background: url("../img/cestino.png") no-repeat;
    background-size: contain;
    color: #FFF;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 2%;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    line-height: 100%;
    width: 1.7rem;
    height: 1.7rem;
    border: none;
}

fieldset {
    padding: 16px
}

.addfields {
    margin: 10px 0;
}

#choicesDisplay {
    padding: 10px;
    background: rgb(227, 250, 227);
    border: 1px solid rgb(171, 239, 171);
    color: rgb(9, 56, 9);
}

.remove {
    background: url("../img/cestino.png") no-repeat;
    background-size: contain;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 2%;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    line-height: 100%;
    width: 1.7rem;
    height: 1.7rem;
    border: none;
}

.download {
    background: url("../img/pdf.png") no-repeat;
    background-size: contain;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 2%;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    line-height: 100%;
    width: 3rem;
    height: 3rem;
    border: none;
}

.modify {
    background: url("../img/pencil-512.png") no-repeat;
    background-size: contain;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 2%;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    line-height: 100%;
    width: 1.7rem;
    height: 1.7rem;
    border: none;
}

.modify:focus {
    outline: none;
}

.modify:hover {
    border: 1px solid rgba(255, 255, 255, 0);
}

.modify:active {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0);
}

.remove:focus {
    outline: none;
}

.remove:hover {
    border: 1px solid rgba(255, 255, 255, 0);
}

.remove:active {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0);
}

.head {
    color: #025aa5;
    padding: 0.6rem;
}

.disp {
    display: table;
}

.picker {
    width: 100%;
    max-width: 17rem;
}

.addProducts {

    cursor: pointer;
    vertical-align: top;
    background-color: #39bf94;
    color: white;
    border-radius: 4px;
    line-height: 36px;
    height: 36px;
    border: none;
    width: 100%;
    max-width: 17rem;
    display: inline-block;
    font-size: 16px;
    font-family: "-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif", serif;
}

.addProducts:hover {
    background-color: #157254;
}

.textinput {
    padding: 5px 8px;
    border: 1px solid #39bf94;
    margin: 5px;
    border-radius: 5px 5px;
}

.textinputFitBetter {
    padding: 0.15rem 0.5rem;
    border: 1px solid #39bf94;
    margin: 5px;
    border-radius: 5px 5px;
}

.calculate {
    cursor: pointer;
    vertical-align: middle;
    background-color: #39bf94;
    color: white;
    border-radius: 4px;
    line-height: 36px;
    height: 36px;
    border: none;
    width: 100%;
    max-width: 17rem;
    display: inline-block;
    font-size: 16px;
    font-family: "-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif", serif;
}

.calculate:hover {
    background-color: #157254;
}

.newmarg {
    padding: 1.0rem 0;
    border: 0;
    color: #025aa5;
}

.delmargin {
    border: 0;
    color: #025aa5;
}

.margine {
    margin-top: 2rem;
}
